<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API</key>
	<dict>
		<key>SignallingServerURL</key>
		<string>NSURL(https://connect.mewapi.io)</string>
		<key>ReachabilityURLString</key>
		<string>myetherwallet.com</string>
	</dict>
</dict>
</plist>
